version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/var/www
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=open_food_fact
      - MYSQL_USER=root
      - MYSQL_PASSWORD=
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: